section.section.advantages
    h2.section__title Высочайшие стандарты. Гарантия качества
    p.section__description Мы осуществляем полный и замкнутый цикл обработки натурального гранита.
    p.section__description Блоки с карьеров, без посредников, доставляются ж/д транспортом на собственный завод в г. Северодвинске, для дальнейшей их обработки, включая подготовительные работы, дизайнерскую разработку, проектирование, изготовление памятников, доставку и установку на месте захоронения.
    ul.advantages__list
        li.advantages__item
            img.advantages__item-icon(src = 'assets/img/price.svg')
            div.advantages__item-text Гарантия низкой цены
        li.advantages__item
            img.advantages__item-icon(src = 'assets/img/delivery.svg')
            div.advantages__item-text Доставка по всей России
        li.advantages__item
            img.advantages__item-icon(src = 'assets/img/natural.svg')
            div.advantages__item-text Натуральный гранит карелии
        li.advantages__item
            img.advantages__item-icon(src = 'assets/img/garanty.svg')
            div.advantages__item-text гарантия на всю продукцию