section.section.articles
    div.container
        h2.articles__header Советы гранит поморья 
            a(href = "#").articles__header-link все советы
    div.container
        ul.articles__list
            li.articles__item
                    div.articles__picture
                        img.articles__img(src = "assets/img/article.jpg")
                        div.articles__overlay
                            a.articles__icon(href = "#") Статьи
                            a.articles__btn(href = "#") Читать статью
                    a(href = "#").articles__title Как подобрать цветочницу для определённой стеллы
                    p.articles__watches 120 просмотров
            li.articles__item
                    div.articles__picture
                        img.articles__img(src = "assets/img/article.jpg")
                        div.articles__overlay
                            a.articles__icon(href = "#") Статьи
                            a.articles__btn(href = "#") Читать статью
                    a(href = "#").articles__title Какой тип гранита выбрать для памятника
                    p.articles__watches 120 просмотров
            li.articles__item
                    div.articles__picture
                        img.articles__img(src = "assets/img/article.jpg")
                        div.articles__overlay
                            a.articles__icon(href = "#") Статьи
                            a.articles__btn(href = "#") Читать статью
                    a(href = "#").articles__title Правила оформления горизонтальной стеллы
                    p.articles__watches 120 просмотров
            li.articles__item
                    div.articles__picture
                        img.articles__img(src = "assets/img/article.jpg")
                        div.articles__overlay
                            a.articles__icon(href = "#") Статьи
                            a.articles__btn(href = "#") Читать статью
                    a(href = "#").articles__title 8 советов по уходу за гранитом
                    p.articles__watches 120 просмотров