section.banner
    div.banner__slider
        ul.banner__list
            li.banner__item
                div.banner__part-title
                    div.banner__title Собственное производство в Северодвинске
                    div.banner__subtitle Натуральный гранит Карелии
                div.banner__part-descr
                    div.banner__description Собственный цех обработки камня позволяет нам устанавливать минимальные цены на наши памятники
                    a(href="#").banner__button Узнать больше
                div.banner__date с 1999 года
            li.banner__item
                div.banner__part-title
                    div.banner__title Собственное производство в Северодвинске
                    div.banner__subtitle Натуральный гранит Карелии
                div.banner__part-descr
                    div.banner__description Собственный цех обработки камня позволяет нам устанавливать минимальные цены на наши памятники
                    a(href="#").banner__button Узнать больше
                div.banner__date с 1999 года
        button.banner__control.banner__control--left#banner-prev
        button.banner__control.banner__control--right#banner-next
        ul.banner__pagination
          li.banner__pagination-item.banner__pagination-item--active
          li.banner__pagination-item
          li.banner__pagination-item