footer.footer
    div.footer__subscribe
        div.footer__subscribe-content
            div.footer__subscribe-title
                p Хотите получать актуальную информацию о наших акциях и скидках?
                p Подпишитесь на рассылку сообщений
            form.footer__subscribe-form(action="")
                input.footer__input(type="text" placeholder = "Имя Фамилия")
                input.footer__input(type="text" placeholder = "Email")
                input.footer__submit(type="submit" value = "подписаться")
    div.footer__nav
        ul.footer__nav-list
            p.footer__nav-title Каталог
            li.footer__nav-item
                a.footer__nav-link(href = "#") Прямоугольные
            li.footer__nav-item
                a.footer__nav-link(href = "#") Фигурные. Эконом
            li.footer__nav-item
                a.footer__nav-link(href = "#") Фигурные. Стандарт
            li.footer__nav-item
                a.footer__nav-link(href = "#") Разные
            li.footer__nav-item
                a.footer__nav-link(href = "#") На двоих
            li.footer__nav-item
                a.footer__nav-link(href = "#") Комплектующие
            li.footer__nav-item
                a.footer__nav-link(href = "#") Накладные портреты
        ul.footer__nav-list
            p.footer__nav-title Доставка
            li.footer__nav-item
                a.footer__nav-link(href = "#") Тарифы
            li.footer__nav-item
                a.footer__nav-link(href = "#") Международная
        ul.footer__nav-list
            p.footer__nav-title Оплата
            li.footer__nav-item
                a.footer__nav-link(href = "#") Безналичный расчёт
            li.footer__nav-item
                a.footer__nav-link(href = "#") Оплата наличными
        ul.footer__nav-list
            p.footer__nav-title Гарантии
            li.footer__nav-item
                a.footer__nav-link(href = "#") Гарантия на гранит
            li.footer__nav-item
                a.footer__nav-link(href = "#") Гарантия на гравировку
        ul.footer__nav-list
            p.footer__nav-title Производство
            li.footer__nav-item
                a.footer__nav-link(href = "#") Обработка гранита
            li.footer__nav-item
                a.footer__nav-link(href = "#") Гравировка на камне
        ul.footer__nav-list
            p.footer__nav-title Контакты
            li.footer__nav-item
                a.footer__nav-link(href = "#") Адреса и телефоны
            li.footer__nav-item
                a.footer__nav-link(href = "#") Схема проезда
    div.footer__contacts
        h2.footer__title Памятники и мемориальные комплексы от производителя из крельского гранита
        ul.footer__contact-list
            li.footer__contact-item
                a.footer__contact-link(href = "#") 8 (8182) 21-38-00
            li.footer__contact-item
                a.footer__contact-link(href = "#")
    div.footer__copyright 2018. Все права защищены. Завод по обработке камня "Гранит Поморья"