section.section.granit
    h2.section__title.section__title--white Какой тип гранита выбрать для памятника
    ul.granit__list
        li.granit__item
            div.granit__img
                img(src = 'assets/img/granit1.png')
            div.granit__text
                p.granit__title габбро-диабаз
                p.granit__description Габбро-диабаз обладает невероятными прочностными характеристиками. Он имеет роскошный глубокий чёрный цвет, который не блекнет и не выцветает с годами. Данному камню не страшны сильные морозы и жуткая жара, он не поддаётся изменениям с тчением врмени. Габбро-диабаз обладает плохой впитывающей способностью, поэтому его не могут разрушить дожди и ливни, он не даёт микротрещин, на нём не образуется сколов.
        li.granit__item
            div.granit__img
                img(src = 'assets/img/granit2.png')
            div.granit__text
                p.granit__title монсуровский
                p.granit__description Габбро-диабаз обладает невероятными прочностными характеристиками. Он имеет роскошный глубокий чёрный цвет, который не блекнет и не выцветает с годами. Данному камню не страшны сильные морозы и жуткая жара, он не поддаётся изменениям с тчением врмени. Габбро-диабаз обладает плохой впитывающей способностью, поэтому его не могут разрушить дожди и ливни, он не даёт микротрещин, на нём не образуется сколов.
        li.granit__item
            div.granit__img
                img(src = 'assets/img/granit3.png')
            div.granit__text
                p.granit__title елизовский
                p.granit__description Габбро-диабаз обладает невероятными прочностными характеристиками. Он имеет роскошный глубокий чёрный цвет, который не блекнет и не выцветает с годами. Данному камню не страшны сильные морозы и жуткая жара, он не поддаётся изменениям с тчением врмени. Габбро-диабаз обладает плохой впитывающей способностью, поэтому его не могут разрушить дожди и ливни, он не даёт микротрещин, на нём не образуется сколов.        