section.section.popular
    h2.popular__title
        div.popular__title-content
            div.popular__title-text популярные модели
    .popular__content
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
        include ../blocks/memorial.pug
    a(href = "#").popular__btn Посмотреть все модели

        
