.memorial {
    width: calc(( 100% - 120px)/3);
    border-top: 8px solid $dark-color;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 12px;
    color: $dark-color;
    box-sizing: border-box;
}
.memorial:nth-child(1) {
    margin-left: 30px;
}
.memorial:nth-child(3n) {
    margin-right: 30px;
}
.memorial:nth-child(3n+1) {
    margin-left: 30px;
}
.memorial__content {
    display: block;
    box-shadow: 0 0 8px rgba(0,0,0,0.46);
    background-color: #fff;
    margin-bottom: 5px;
    padding-bottom: 15px;
    color: $dark-color;
}
.memorial__title {
    margin: 0;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 23px;
    text-align: right;
    position: relative;
    padding: 10px;
    padding-bottom: 0;
    &::after {
        content: '';
        display: block;
        height: 2px;
        width: 60px;
        position: absolute;
        bottom: 0;
        right: 10px;
        background-color: $red-color;
    }

}
.memorial__img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}
.memorial__params-list {
    position: relative;
    text-transform: uppercase;
}
.memorial__params-item {
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}
.memorial__params-list::before {
    content: '';
    height: 3px;
    position: absolute;
    top: 0;
    right: 20px;
    left: 20px;
    background-color: $red-color;
}
.memorial__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.memorial__old-price {

    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 4.52px;
    margin-left: 20px;

    &::before {
        content: '';
        display: block;
        width: 110%;
        height: 2px;
        position: absolute;
        background-color: $dark-color;
        left: 50%;
        transform: translateX(-50%);
        top: 50%;
        margin-top: -1px;
    }
    & span:first-child {
        font-size: 14px;
        font-weight: 500;
    }
}
.memorial__new-price {
    background-color: $dark-color;
    color: #fff;
    margin-right: -10px;
    padding: 2px 15px 2px 40px;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    min-width: 50%;
    box-sizing: border-box;
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
	    height: 0;
	    border-top: 21px solid transparent;
	    border-right: 20px solid $dark-color;
        border-bottom: 21px solid transparent;
        top: 0;
        bottom: 0;
        left:-20px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #fff;
        left: 0;
        top: 50%;
        margin-top: -7px;
    }
    & span:first-child {
        font-size: 16px;
        font-weight: 500;
    }
}
.memorial__buttons {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    
}
.memorial__btn-favorite {
    width: calc( (100% - 5px)*0.25);
    background-image: url(../img/star-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    background-color: transparent;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid $dark-color;
    cursor: pointer;
}
.memorial__btn-cart { 
    width: calc( (100% - 5px)*0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    color: $dark-color;
    background-color: transparent;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    line-height: 1.2;
    border: 1px solid $dark-color;
    cursor: pointer;
    margin-bottom: 5px;
    &::after {
        content: '';
        width: 30px;
        height: 45px;
        //border: 1px solid;
        margin-left: 5px;
        background-image: url(../img/cart-icon.svg);
        background-repeat: no-repeat;
        background-position: center 5px;
        background-size: contain;
    }
}

.memorial__btn-settings {
    width: 100%;
    background-color: $dark-color;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 20px 0 15px 0;
    line-height: 1.2;
}