.top-menu {
    background-color: $dark-color;
    color:$light-font-color;
    text-transform: uppercase;
    box-sizing: border-box;
}

.top-menu__list {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 11px;
}

.top-menu__item {
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}

.top-menu__item:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 113px;
    height: 1px;
    background-color: $light-font-color;
    bottom: 8px;
    left: 50%;
    margin-left: -57px;

}
.top-menu__item::after {
    content: '';
    width: 1px;
    height: 26px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 0;
}

.top-menu__item:last-child::after {
    content: none;
}
.top-menu__link {
    color: $light-font-color;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    padding: 12px 0;
}
.top-menu__item:first-child .top-menu__link {
    padding-left: 0;
    justify-content: flex-start;
    padding-left: 35px;
}
.top-menu__item:last-child .top-menu__link {
    justify-content: flex-end;
    padding-right: 35px;
}
.top-menu__link::before {
    content: '';
    margin-right: 15px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.top-menu__item:nth-child(1) .top-menu__link::before {
    width: 17px;
    background-image: url(../img/user-icon.svg);
}

.top-menu__item:nth-child(2) .top-menu__link::before {
    width: 16px;
    background-image: url(../img/loc-icon.svg);
}
.top-menu__item:nth-child(3) .top-menu__link::before {
    content: none;
}
.top-menu__item:nth-child(4) .top-menu__link::before {
    width: 30px;
    background-image: url(../img/mail-icon.svg);
}

.top-menu__item:nth-child(5) .top-menu__link::before {
    width: 30px;
    margin-right: 0;
    background-image: url(../img/vk-icon.svg);
}
