.calculate__size-section {
    display: flex;
}
.calculate__title-config {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.calculate__size-part {
    border: 1px solid;
    width: 30%;
}
.calculate__size-part input {
    
}
.calculate__size-part label {
}
.calculate__pedestal-section {
    font-size: 0;
}
.calculate__pedestal-config {
    display: inline-block;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
}
.label--for-pedestal {
    display: inline-block;
}

.input--for-pedestal {
    display: none;
}
