// fonts
$default-font: "Ubuntu", sans-serif;
$accent-font: "Montserrat", sans-serif;


// colors
$dark-color:  #28292E;
$light-color: #E6E6E6;
$gray-color: #4D4D4D;
$red-color: #A7171D;

// mini-cart
$mini-cart-bg:#F2F2F2;
$mini-cart-border: #808080;

$light-font-color: #fff;
