div.categories-mnu
    div.container
        ul.categories-mnu__list
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat1.svg
                    div.categories-mnu__title Прямоугольные
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat2.svg
                    div.categories-mnu__title Финурные. Эконом
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat3.svg
                    div.categories-mnu__title Прямоугольные
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat4.svg
                    div.categories-mnu__title Прямоугольные
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat5.svg
                    div.categories-mnu__title Прямоугольные
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat6.svg
                    div.categories-mnu__title Прямоугольные
            li.categories-mnu__item
                a.categories-mnu__link(href = "#")
                    div.categories-mnu__icon
                        include ../../images/cat7.svg
                    div.categories-mnu__title Прямоугольные