div.memorial
    a(href = '#').memorial__content
        h3.memorial__title модель 15.1-1
        img(src = 'assets/img/mem1.png' title = "модель 15.1-1").memorial__img
        ul.memorial__params-list
            li.memorial__params-item
                span размер памятника: 
                span 100*80*6 см
        div.memorial__price
            div.memorial__old-price
                span от 
                span 15 000 
                span руб.
            div.memorial__new-price
                span от 
                span 13 000 
                span руб.
    div.memorial__buttons
        button.memorial__btn-favorite
        button.memorial__btn-cart добавить в корзину
        a(href = "#").memorial__btn-settings Выбрать характеристики