div.top-menu
		ul.top-menu__list
			li.top-menu__item
				a.top-menu__link(href = "#") Личный кабинет
			li.top-menu__item
				a.top-menu__link(href = "#") город: архангельск
			li.top-menu__item
				a.top-menu__link(href = "#") Памятники и мемориальные комплексы от производителя из карельского гранита
			li.top-menu__item
				a.top-menu__link(href = "#") бесплатная консультация
			li.top-menu__item
				a.top-menu__link(href = "#")