extends ../_template

block variables
  - var title = 'Гранит поморья'

block content
  include ../sections/header.pug
  include ../sections/banner.pug
  main.main
    include ../sections/advantages.pug
    include ../sections/popular.pug
    include ../sections/granit.pug
    include ../sections/articles.pug
  include ../sections/footer.pug